<div class="fulldialog">
    <div class="form-group">
        <label>{{localize "DAGGERHEART.dialog.bonus"}}</label> 
        <input type="text" name="attributebonus" value="2" />
    </div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.dialog.hope"}}</label>
        <input type="text" name="hopedie" value="d12" />
    </div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.dialog.fear"}}</label>
        <input type="text" name="feardie" value="d12" />
    </div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.dialog.advantage"}}</label>
        <input type="text" name="advantage" value="-" />
    </div>
    <div class="form-group">
        <label>{{localize "DAGGERHEART.dialog.disadvantage"}}</label>
        <input type="text" name="disadvantage" value="-" />
    </div>
</div>