<div class="headerbox">
    <div class="rollboxes">
        <div class="rollbox agility">
            <div class="attributename agility">
                {{localize "DAGGERHEART.agility"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.agility}}" class="dhattribute agility"/>
            <input class="attributeinput agility" type="text" name="system.agility.base" value="{{system.agility.base}}">
            <div class="buzzwords agility">
                Sprint<br/>
                Leap<br/>
                Dodge<br/>
            </div>
        </div>
        <div class="rollbox strength">
            <div class="attributename strength">
                {{localize "DAGGERHEART.strength"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.strength}}" class="dhattribute strength"/>
            <input class="attributeinput strength" type="text" name="system.strength.base" value="{{system.strength.base}}">
            <div class="buzzwords strength">
                Lift<br/>
                Smash<br/>
                Grapple<br/>
            </div>
        </div>
        <div class="rollbox finesse">
            <div class="attributename finesse">
                {{localize "DAGGERHEART.finesse"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.finesse}}" class="dhattribute finesse"/>
            <input class="attributeinput finesse" type="text" name="system.finesse.base" value="{{system.finesse.base}}">
            <div class="buzzwords finesse">
                Control<br/>
                Hide<br/>
                Tinker<br/>
            </div>
        </div>
        <div class="rollbox instinct">
            <div class="attributename instinct">
                {{localize "DAGGERHEART.instinct"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.instinct}}" class="dhattribute instinct"/>
            <input class="attributeinput instinct" type="text" name="system.instinct.base" value="{{system.instinct.base}}">
            <div class="buzzwords instinct">
                Perceive<br/>
                Sense<br/>
                Navigate<br/>
            </div>
        </div>
        <div class="rollbox presence">
            <div class="attributename presence">
                {{localize "DAGGERHEART.presence"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.presence}}" class="dhattribute presence"/>
            <input class="attributeinput presence" type="text" name="system.presence.base" value="{{system.presence.base}}">
            <div class="buzzwords presence">
                Charm<br/>
                Perform<br/>
                Deceive<br/>
            </div>
        </div>
        <div class="rollbox knowledge">
            <div class="attributename knowledge">
                {{localize "DAGGERHEART.knowledge"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_attribute_transparent.png" alt="{{localize DAGGERHEART.knowledge}}" class="dhattribute knowledge"/>
            <input class="attributeinput knowledge" type="text" name="system.knowledge.base" value="{{system.knowledge.base}}">
            <div class="buzzwords knowledge">
                Recall<br/>
                Analyze<br/>
                Comprehend<br/>
            </div>
        </div> 
        <div class="rollbox rollicon">
            <div class="attributename generalroll">
                {{localize "DAGGERHEART.generalroll"}}
            </div>
            <img src="systems/daggerheart/assets/img/dh_duality.png" data-action="roll" alt="{{localize DAGGERHEART.rolicon}}" class="dhattribute rollicon"/>
        </div>
    </div>
    <div class="hopeboxes">
        {{localize DAGGERHEART.sthwithhope}}
    </div> 
</div>