<div class="outerImagebox">
    <div class="fillSideboxTop"></div>
    <div class="innerImagebox">
        <img class="pcImage" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" >
        <div class="imageOverlay">
            {{actor.name}}
        </div>
    </div>
    <div class="fillSideboxMiddle"></div>
</div>
<div class="outerResourcebox">
    <div class="ressourceHealth">
        <div class="healthBox">{{localize DAGGERHEART.health}}</div>
    </div>
    <div class="ressourceStress">
        <div class="healthBox">{{localize DAGGERHEART.stress}}</div>
    </div>
    <div class="ressourceArmor">
        <div class="healthBox">{{localize DAGGERHEART.health}}</div>
    </div> 
    <div class="fillSideboxBottom"></div>
</div>