<div class="chatmessage">
    <div class="headline">{{localize "DAGGERHEART.chat.standardroll"}} ({{attributebonus}})</div>
    {{#each experiences}}
        <div class="headline">{{name}} ({{bonus}})</div>
    {{/each}}
    <div class="dicefield">
        <div class="advantagefield">
            <div class="diceoverlay">
                <img src="systems/daggerheart/assets/dice/advantageD6.png" alt="{{localize DAGGERHEART.d6}}" class="advantagedie"/>
            </div>
            <div class="textoverlay-white">
                {{advantage}}
            </div>
        </div>
        <div class="hopefield">
            <div class="diceoverlay">
                <img src="systems/daggerheart/assets/dice/hopeD12.png" alt="{{localize DAGGERHEART.d12}}" class="hopedie"/>
            </div>
            <div class="textoverlay-black">
                {{hope}}
            </div>
        </div>
        <div class="fearfield">
            <div class="diceoverlay">
                <img src="systems/daggerheart/assets/dice/fearD12.png" alt="{{localize DAGGERHEART.d12}}" class="feardie"/>
            </div>
            <div class="textoverlay-white">
                {{fear}}
            </div>
        </div>
        <div class="disadvantagefield">
            <div class="diceoverlay">
                <img src="systems/daggerheart/assets/dice/advantageD6.png" alt="{{localize DAGGERHEART.d6}}" class="disadvantagedie"/>
            </div>
            <div class="textoverlay-white">
                {{disadvantage}}
            </div> 
        </div>
    </div>
    {{#if isHope}}
        <div class="resultbox">
            {{total}}
        </div>
    {{/if}}
    {{#if isFear}}
        <div class="resultbox">
            {{total}}
        </div>
    {{/if}}
    {{#if isHope}}
        <div class="hopebox">
            {{localize "DAGGERHEART.chat.hope"}}
        </div>
    {{/if}}
    {{#if isFear}}
        <div class="fearbox">
            {{localize "DAGGERHEART.chat.fear"}}
        </div>
    {{/if}}
    {{#if isCrit}}
        <div class="critbox">
            {{localize "DAGGERHEART.chat.crit"}}
        </div>
    {{/if}}   
</div>